<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      "
    >
      <main>
        <div
          style="
            margin: 0;
            margin-top: 20px;
            padding: 92px 30px 115px;
            background: #ffffff;
            border-radius: 30px;
            box-shadow: 3px 5px 4px 2px #ddd;
          "
        >
          <div style="width: 100%; max-width: 489px; margin: 0 auto">
            <p style="margin: 0; font-size: 16px; font-weight: 500">
              Hello {{ name }},<br /><br />
            </p>
            <p
              style="
                margin: 0;
                margin-top: 8px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >
              We have received a password reset request from Ansa user {{ name }}.
            <br />
              Please do well to reach out to your admin or support team if you didn't make this request.
            </p>

            <p
              style="
                margin: 0;
                margin-top: 60px;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 2px;
                color: #000;
              "
            >
              Thank you for your prompt attention to this.
            </p>
          </div>
        </div>
      </main>

      <footer
        style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        "
      >
        <p
          style="
            margin: 0;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          "
        >
          Ansaa Team
        </p>
        <p style="margin: 0; margin-top: 8px; color: #434343">
          Golf city, Anambra state.
        </p>
      </footer>
    </div>
  </body>
</html>
